<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="mostrarMenu()" color="primary">
                <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Asistencia</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-divider>
        <ion-label>Estadisticas Descriptiva: 10</ion-label>
    </ion-item-divider>
    <ion-item-divider>
        <ion-label>Calidad de software: 45</ion-label>
    </ion-item-divider>
    <ion-item-divider>
        <ion-label>Programacion Web: 25 </ion-label>
    </ion-item-divider>
</ion-content>